<turbo-frame id="likes">
	<div>
		<% @likes.each do |post| %>
			<div class="post">
				<div class="post-header">
					<div class="user">
						<%= link_to post.user.username, user_path(post.user.id) %>
					</div>
					<div>
						<%= post.created_at.strftime('%m/%d %H:%M') %>
					</div>
					<div class="link"><%= link_to "(_)", post %></div>
				</div>
				<div class="words"><%= post.words %></div>
				<div class="post-interactions">
					<div class="ply-button add-post" data-id="<%= post.id %>">
						<%= svg('ply') %>
					</div>
					<div class="reply-button add-post" data-id="<%= post.id %>">
						<%= svg('reply') %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</turbo-frame>