<div class="user-form interactable-zone">
	<h2>Sign Up</h2>

	<%= form_with model: @user, local: true, url: sign_up_path do |f| %>
		<div>
			<%= f.label 'email' %>
			<%= f.text_field :email %>
		</div>
		<div>
			<%= f.label 'password' %>
			<%= f.password_field :password %>
		</div>
		<div>
			<%= f.label 'password_confirmation' %>
			<%= f.password_field :password_confirmation %>
		</div>
		<div>
			<%= f.submit 'Sign Up' %>
		</div>
	<% end %>

	<h2>Or</h2>
	<div class="sso">
		<div class="sso-box sso-google">
			<%= link_to "Log In with Google", '/auth/google_oauth2' %>
		</div>
	</div>
</div>
