
<turbo-frame id="<%= "post_#{post_id}_#{up ? 'plies' : 'replies'}" %>">
	<div class="posts-carousel">
		<% posts.each_with_index do |post, index| %>
			<div class="carousel-post <%= index == 0 ? 'carousel-active' : ''%>">
				<div class="button-row">
					<% if up %>
						<turbo-frame id="post_<%= post.id %>_plies">
							<%= link_to "/posts/#{post.id}/plies" do %>
								<div class="nav <%= post.plies.count > 0 ? '' : 'hidden' %>">
									<%= svg('up') %>
								</div>
							<% end %>
						</turbo-frame>
					<% else %>
						<div class="nav">
							<%= svg('arrow_down') %>
						</div>
					<% end %>
				</div>
				<div class="post-row">
					<div class="<%= index == 0 ? 'hidden' : ''%> nav">
						<%= svg('left') %>
					</div>
					<%= render partial: 'posts/post', locals: {post: post} %>
					<div class="right-box">
						<div class="count">
							<%= index + 1 %>/<%= posts.length %>
						</div>
						<div class="<%= index == posts.length - 1 ? 'hidden' : ''%> nav">
							<%= svg('right') %>
						</div>
					</div>
				</div>
				<div class="button-row">
					<% if !up %>
						<turbo-frame id="post_<%= post.id %>_replies">
							<%= link_to "/posts/#{post.id}/replies" do%>
								<div class="nav <%= post.replies.count > 0 ? '' : 'hidden' %>">
									<%= svg('down') %>
								</div>
							<% end %>
						</turbo-frame>
					<% else %>
						<div class="nav">
							<%= svg('arrow_down') %>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</turbo-frame>