<div id="modal-background" class="hide">
	<div id="post-form">
		<%= form_with model: @new_post do |form| %>
			<div>
				<%= form.label :words %><br/>
				<%= form.text_area :words, size: "50x3", maxlength: "142" %>
			</div>

			<div class="connections">
				<ul class="plies-list">
					<li><strong>Plies</strong></li>
				</ul>

				<ul class="replies-list">
					<li><strong>Replies</strong></li>
				</ul>
				<%= form.hidden_field(:plies, value: []) %>

				<%= form.hidden_field(:replies, value: []) %>
			</div>

			<div>
				<strong>Add Plies and Replies</strong>
				<div class="get-likes">
					<% %w[crab microphone obelisk].each do |react| %>
						<%= link_to "/likes/#{react}", 'data-turbo-frame' => 'likes' do %>
							<div class="like-button">
								<%= svg(react) %>
							</div><% end %>
					<% end %>
				</div>
				<turbo-frame id="likes"></turbo-frame>
			</div>

			<div>
				<%= form.submit %>
			</div>
		<% end %>
	</div>
</div>