<div class="post-form interactable-zone">
	<%= form_with model: @new_post do |form| %>
		<div>
			<%= form.label :words %><br/>
			<%= form.text_area :words, size: "50x5" %>
		</div>

		<%= form.hidden_field(:plies, value: plies) %>
		<%= form.hidden_field(:replies, value: replies) %>

		<div>
			<%= form.submit %>
		</div>
	<% end %>
</div>