<li class="post-parent" style="z-index: <%= 500 - index %>" aria-description="<%= post.aria_label %>">
	<div class="post" style="<%= params["disable_styling"] == "1" ? "" : post.style_tag %>">
		<div class="link"><%= link_to "(_)", post %></div>
		<div class="words">"<%= post.words %>"</div>
		<div class="user">
			<% if post.user %>
				-<%= link_to post.user.username, user_path(post.user.id) %>,
			<% end %>
			<%= post.created_at.strftime('%H:%M %m/%d') %>,
			R<%= post.style["rotate"] %>/T<%= post.style["top"] %>/L<%= post.style["left"] %>
		</div>
	</div>
</li>