<div class="post-parent" style="z-index: <%= 500 - index %>">
	<div class="post" style="<%= params["disable_styling"] == "1" ? "" : post.style %>">
		<div class="link"><%= link_to "(_)", post %></div>
		<div class="words">"<%= post.words %>"</div>
		<div class="user">
			<% if post.user %>
				-<%= link_to post.user.username, user_path(post.user.id) %>,&nbsp;
			<% end %>
			<%= post.created_at.strftime('%H:%M %m/%d') %>	
		</div>
	</div>
</div>