<div id="new-post">
	<div id="post-errors">
		<% if @new_post.errors.any? %>
			<ul>
				<% @new_post.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
	<%= form_with model: @new_post, id: 'post-form' do |form| %>
		<div class="diff"><%= @parent.words %></div>
		<div class="variance">
			Current Variance: <span id="distance">0</span>/<%= ENV['VARIANCE'] %>
		</div>


		<%= form.text_area :words, value: @parent.words, minlength: 4, maxlength: 241 %>

		<%= form.hidden_field :parent, value: @parent.id %>
		<%= form.hidden_field :original, value: @parent.words %>

		<div class="form-buttons">
			<button id="reset-button">RESET</button>
			<%= form.submit "POST", id: 'submit-button', disabled: "POST" %>
		</div>
	<% end %>
</div>