<section id="timeline">
	<% if @post.ply %>
		<% if @post.ply.ply %>
			<%= render partial: 'posts/post', locals: {post: @post.ply.ply} %>
		<% end %>
		<%= render partial: 'posts/post', locals: {post: @post.ply} %>
	<% end %>
	<%= render partial: 'posts/post', locals: {post: @post, class: "show-post"} %>
	<%= render partial: 'posts/posts', locals: {posts: @post.replies, myclass: "reply-column"} %>
</section>

<%= render partial: 'posts/form' %>