<section id="timeline">
	<%= render partial: 'posts', locals:  {posts: @post.plies.with_likes(Current.user.id).sort_method(params[:order])} %>

	<div class="bracket">
		<div class="right-bracket"></div>	
		<%= svg("arrow") %>
	</div>

	<div class="show-post">
		<ul class="posts-list">
			<%= render partial: 'posts/post', locals: {post: @post} %>
		</ul>
	</div>

	<div class="bracket">
		<%= svg("arrow") %>
		<div class="left-bracket"></div>
	</div>

	<%= render partial: 'posts', locals:  {posts: @post.replies.with_likes(Current.user.id).sort_method(params[:order])} %>

	
	<%= render partial: 'posts/form' %>
</section>