<!DOCTYPE html>
<html>
  <head>
    <title>LA2AR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if Current.user %>
        <div class="user-bar interactable-zone">
          <div class="name">
              <%= link_to Current.user.username, Current.user %>
          </div>
          <div class="user-buttons">
            <%= button_to "Change Name", Current.user, method: :patch %>
            <%= button_to "Sign Out", sign_out_path, method: :delete %>
          </div>
        </div>
      <% end %>
      <%= render "components/flash" %>
    </header>
    <h1 class="lazar"><%= link_to "LA2AR", root_path %></h1>
    <%= yield %>
  </body>
</html>
