<!DOCTYPE html>
<html>
  <head>
    <title>+lazar+</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "distance" %>
    <%= javascript_import_module_tag "diff" %>
    <%= javascript_import_module_tag "form" %>
    <%= favicon_link_tag asset_path('icon.png') %>
  </head>

  <body>
    <header>
      <% if Current.user %>
        <div class="user-bar interactable-zone">
          <div class="user-link">
              <%= link_to Current.user.username, Current.user %>
          </div>
          <div class="user-buttons">
            <%= button_to "Change Name", Current.user, method: :patch %>
            <%= button_to "Sign Out", sign_out_path, method: :delete %>
          </div>
        </div>
      <% end %>
      <%= render "partials/flash" %>
    </header>
    <h1 class="lazar"><%= link_to "+lazar+", root_path %></h1>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div>
        <%= link_to "Random", "/random" %>
      </div>
      <div>
        <%= link_to "Museum", "/museum" %>&nbsp;
        <%= link_to "Help", "/help" %>
      </div>
    </footer>
  </body>
</html>
